@model KYPCenterManagement.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPaidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPaidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDueAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDueAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Center.CenterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Center.CenterName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
